flow.json
[{"id":"102646aa.98f061","type":"tab","label":"Network status","disabled":false,"info":""},{"id":"a284a9fa.5b238","type":"tab","label":"Icons","disabled":false,"info":"Semplici icone font awesome usate in combinazione usabili come indicatori sulla dashboard.\n\nI colori possono essere ricavati dai settaggi della dashboard, in questo modo rimangono coerenti anche cambiando il tema dei colori."},{"id":"c80d59c7.2d5888","type":"ui_group","z":"","name":"Icons","tab":"b28e9e57.8b6ae8","disp":true,"width":"23","collapse":true},{"id":"b28e9e57.8b6ae8","type":"ui_tab","z":"","name":"Icons","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5a01dac2.4b2094","type":"ui_group","z":"","name":"Network","tab":"4cea6575.58e774","order":1,"disp":true,"width":"6","collapse":false},{"id":"4cea6575.58e774","type":"ui_tab","z":"","name":"Smart home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"86d0e661.92436","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8a68823f.c5a71","type":"ui_template","z":"a284a9fa.5b238","group":"c80d59c7.2d5888","name":"","order":0,"width":0,"height":0,"format":"<div class=\"fa fa-television fa-4x\" aria-hidden=\"true\" style=\"color:var(--nr-dashboard-pageTitlebarBackgroundColor);\"></div>\n<div class=\"fa fa-television fa-4x\" aria-hidden=\"true\" style=\"color:var(--nr-dashboard-pageTitlebarBackgroundColor);filter: invert(50%);\"></div>\n\n<span class=\"fa-stack fa-2x\" style=\"color:green;\">\n  <i class=\"fa fa-circle-o-notch fa-spin fa-stack-1x\"></i>\n  <i class=\"fa fa-television fa-stack-2x\"></i>\n</span>\n\n<span class=\"fa-stack fa-2x\" style=\"color:grey;\">\n  <i class=\"fa fa-power-off fa-stack-1x\"></i>\n  <i class=\"fa fa-television fa-stack-2x\"></i>\n</span>\n  \n<span class=\"fa-stack fa-2x\" style=\"color:red;\">\n  <i class=\"fa fa-wrench fa-stack-1x\"></i>\n  <i class=\"fa fa-television fa-stack-2x\"></i>\n</span>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":190,"y":100,"wires":[[]]},{"id":"11c8da5d.cc4526","type":"ui_template","z":"102646aa.98f061","group":"5a01dac2.4b2094","name":"Internet connection","order":1,"width":"6","height":"1","format":"<i class=\"{{msg.icon}}\" style=\"color:{{msg.color}}\" aria-hidden=\"true\"> {{msg.payload}}</i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":550,"y":240,"wires":[[]]},{"id":"99932cfa.5e4e9","type":"function","z":"102646aa.98f061","name":"","func":"if (msg.payload===false) {\n    msg.icon=\"fa fa-exclamation-triangle fa-2x\";\n    msg.color=\"#ad1625\";\n    msg.payload=\"Internet KO\";\n} else {\n    msg.icon=\"fa fa-tachometer fa-2x\";  \n    msg.color=\"var(--nr-dashboard-pageTitlebarBackgroundColor);\"; //Color code from dashboard titlebar\n    msg.payload=\"Internet OK\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["11c8da5d.cc4526"]]},{"id":"b4bc976c.f655e8","type":"ui_template","z":"102646aa.98f061","group":"5a01dac2.4b2094","name":"Lan connection","order":1,"width":"6","height":"1","format":"<i class=\"{{msg.icon}}\" style=\"color:{{msg.color}}\" aria-hidden=\"true\"> {{msg.payload}}</i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":280,"wires":[[]]},{"id":"7d3caf64.7e251","type":"function","z":"102646aa.98f061","name":"","func":"if (msg.payload===false) {\n    msg.icon=\"fa fa-exclamation-triangle fa-2x\";\n    msg.color=\"#ad1625\";\n    msg.payload=\"Lan KO\";\n} else {\n    msg.icon=\"fa fa-tachometer fa-2x\";  \n    msg.color=\"var(--nr-dashboard-pageTitlebarBackgroundColor);\"; //Color code from dashboard titlebar\n    msg.payload=\"Lan OK\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["b4bc976c.f655e8"]]},{"id":"d127b038.040fa","type":"ping","z":"102646aa.98f061","name":"","host":"google.com","timer":"20","x":250,"y":240,"wires":[["99932cfa.5e4e9"]]},{"id":"dc08a72.5ed7758","type":"ping","z":"102646aa.98f061","name":"","host":"router.lan","timer":"20","x":240,"y":280,"wires":[["7d3caf64.7e251"]]}]