flow.json
[{"id":"102646aa.98f061","type":"tab","label":"Network status","disabled":false,"info":""},{"id":"a284a9fa.5b238","type":"tab","label":"Icons","disabled":false,"info":"Semplici icone font awesome usate in combinazione usabili come indicatori sulla dashboard.\n\nI colori possono essere ricavati dai settaggi della dashboard, in questo modo rimangono coerenti anche cambiando il tema dei colori."},{"id":"e1e17bad.811fa8","type":"tab","label":"Meteo","disabled":false,"info":""},{"id":"31b4f3bc.2d07f4","type":"subflow","name":"Detect_trend","info":"","category":"","in":[{"x":210,"y":240,"wires":[{"id":"95c375ec.badf5"},{"id":"bff8acc2.93c33"}]}],"out":[{"x":740,"y":240,"wires":[{"id":"2fe83054.6cf82","port":0}]}],"env":[]},{"id":"c80d59c7.2d5888","type":"ui_group","z":"","name":"Icons","tab":"4cea6575.58e774","order":3,"disp":true,"width":"4","collapse":true},{"id":"5a01dac2.4b2094","type":"ui_group","z":"","name":"Network","tab":"4cea6575.58e774","order":1,"disp":true,"width":"6","collapse":false},{"id":"4cea6575.58e774","type":"ui_tab","z":"","name":"Smart home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"86d0e661.92436","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"47c45754.4800c8","type":"ui_group","z":"","name":"Meteo","tab":"4cea6575.58e774","order":2,"disp":true,"width":"9","collapse":false},{"id":"36f068fe.765518","type":"mqtt-broker","z":"","name":"rmap.cc","broker":"rmap.cc","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4779f05d.f4ea08","type":"ui_group","z":"","name":"Meteo","tab":"","order":3,"disp":true,"width":"7","collapse":false},{"id":"f3c150e9.f70bb8","type":"mqtt-broker","z":"","name":"rmap.cc","broker":"rmap.cc","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8a68823f.c5a71","type":"ui_template","z":"a284a9fa.5b238","group":"c80d59c7.2d5888","name":"Icon sample","order":0,"width":0,"height":0,"format":"<div class=\"fa fa-television fa-4x\" aria-hidden=\"true\" style=\"color:var(--nr-dashboard-pageTitlebarBackgroundColor);\"></div>\n<div class=\"fa fa-television fa-4x\" aria-hidden=\"true\" style=\"color:var(--nr-dashboard-pageTitlebarBackgroundColor);filter: invert(50%);\"></div>\n\n<span class=\"fa-stack fa-2x\" style=\"color:green;\">\n  <i class=\"fa fa-circle-o-notch fa-spin fa-stack-1x\"></i>\n  <i class=\"fa fa-television fa-stack-2x\"></i>\n</span>\n\n<span class=\"fa-stack fa-2x\" style=\"color:grey;\">\n  <i class=\"fa fa-power-off fa-stack-1x\"></i>\n  <i class=\"fa fa-television fa-stack-2x\"></i>\n</span>\n  \n<span class=\"fa-stack fa-2x\" style=\"color:red;\">\n  <i class=\"fa fa-wrench fa-stack-1x\"></i>\n  <i class=\"fa fa-television fa-stack-2x\"></i>\n</span>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":190,"y":100,"wires":[[]]},{"id":"11c8da5d.cc4526","type":"ui_template","z":"102646aa.98f061","group":"5a01dac2.4b2094","name":"Internet connection","order":1,"width":"6","height":"1","format":"<i class=\"{{msg.icon}}\" style=\"color:{{msg.color}}\" aria-hidden=\"true\"> {{msg.payload}}</i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":550,"y":240,"wires":[[]]},{"id":"99932cfa.5e4e9","type":"function","z":"102646aa.98f061","name":"","func":"if (msg.payload===false) {\n    msg.icon=\"fa fa-exclamation-triangle fa-2x\";\n    msg.color=\"#ad1625\";\n    msg.payload=\"Internet KO\";\n} else {\n    msg.icon=\"fa fa-tachometer fa-2x\";  \n    msg.color=\"var(--nr-dashboard-pageTitlebarBackgroundColor);\"; //Color code from dashboard titlebar\n    msg.payload=\"Internet OK\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["11c8da5d.cc4526"]]},{"id":"b4bc976c.f655e8","type":"ui_template","z":"102646aa.98f061","group":"5a01dac2.4b2094","name":"Lan connection","order":1,"width":"6","height":"1","format":"<i class=\"{{msg.icon}}\" style=\"color:{{msg.color}}\" aria-hidden=\"true\"> {{msg.payload}}</i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":280,"wires":[[]]},{"id":"7d3caf64.7e251","type":"function","z":"102646aa.98f061","name":"","func":"if (msg.payload===false) {\n    msg.icon=\"fa fa-exclamation-triangle fa-2x\";\n    msg.color=\"#ad1625\";\n    msg.payload=\"Lan KO\";\n} else {\n    msg.icon=\"fa fa-tachometer fa-2x\";  \n    msg.color=\"var(--nr-dashboard-pageTitlebarBackgroundColor);\"; //Color code from dashboard titlebar\n    msg.payload=\"Lan OK\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["b4bc976c.f655e8"]]},{"id":"d127b038.040fa","type":"ping","z":"102646aa.98f061","name":"","host":"google.com","timer":"20","x":250,"y":240,"wires":[["99932cfa.5e4e9"]]},{"id":"dc08a72.5ed7758","type":"ping","z":"102646aa.98f061","name":"","host":"router.lan","timer":"20","x":240,"y":280,"wires":[["7d3caf64.7e251"]]},{"id":"99b6211a.21a1e","type":"comment","z":"102646aa.98f061","name":"Info","info":"Modificare gli indirizzi come desiderato per testare la raggiungibilità di router e internet.","x":230,"y":160,"wires":[]},{"id":"c5fc6f15.9b4c1","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Dato_T","order":3,"width":"3","height":"1","format":"<i class=\"fa-2x\" style=\"text-align: center;color:var(--nr-dashboard-pageTitlebarColor);\" aria-hidden=\"true\"> {{msg.payload}} </i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":140,"wires":[["483a4679.dd41e"]]},{"id":"43d69ee2.5a4f5","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Termometro","order":2,"width":"2","height":"1","format":"<i class=\"fa fa-thermometer-three-quarters fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":610,"y":80,"wires":[[]]},{"id":"deed11cf.53513","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"C","order":4,"width":"2","height":"1","format":"<i class=\"fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\">°C</i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":850,"y":80,"wires":[[]]},{"id":"33290f5c.f274a","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Goccia","order":6,"width":"2","height":"1","format":"<i class=\"fa fa-tint fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":602,"y":270,"wires":[[]]},{"id":"668b0717.3853c8","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"%","order":8,"width":"2","height":"1","format":"<i class=\"fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\">%</i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":852,"y":270,"wires":[[]]},{"id":"fd054351.51be6","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Dato_H","order":7,"width":"3","height":"1","format":"<i class=\"fa-2x\" style=\"text-align: center;color:var(--nr-dashboard-pageTitlebarColor);\" aria-hidden=\"true\"> {{msg.payload}} </i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":742,"y":370,"wires":[[]]},{"id":"dffac089.0997a","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Polveri_2.5","order":14,"width":"2","height":"1","format":"<i class=\"fa fa-hourglass-end fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":710,"wires":[[]]},{"id":"22b14601.7af7da","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"hPa","order":12,"width":"2","height":"1","format":"<i class=\"fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\">hPa</i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":842,"y":510,"wires":[[]]},{"id":"f867840a.6090c8","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Dato_P","order":11,"width":"3","height":"1","format":"<i class=\"fa-2x\" style=\"text-align: center;color:var(--nr-dashboard-pageTitlebarColor);\" aria-hidden=\"true\"> {{msg.payload}} </i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":712,"y":550,"wires":[[]]},{"id":"9beda082.da321","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Polveri_10","order":18,"width":"2","height":"1","format":"<i class=\"fa fa-hourglass fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":940,"wires":[[]]},{"id":"5ce5487f.81d4d8","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"ug/m*3","order":16,"width":"2","height":"1","format":"<i class=\"fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\">ug/m3</i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":830,"y":710,"wires":[[]]},{"id":"69f92b5e.794734","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"ug/m*3","order":20,"width":"2","height":"1","format":"<i class=\"fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\">ug/m3</i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":830,"y":940,"wires":[[]]},{"id":"270bcc25.085f54","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Dato_PM_2.5","order":15,"width":"3","height":"1","format":"<i class=\"fa-2x\" style=\"text-align: center;color:var(--nr-dashboard-pageTitlebarColor);\" aria-hidden=\"true\"> {{msg.payload}} </i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":770,"wires":[[]]},{"id":"756f6e77.c5ed8","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Dato_PM_10","order":19,"width":"3","height":"1","format":"<i class=\"fa-2x\" style=\"text-align: center;color:var(--nr-dashboard-pageTitlebarColor);\" aria-hidden=\"true\"> {{msg.payload}} </i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":1000,"wires":[[]]},{"id":"7cdaa25d.ff779c","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Pressione","order":10,"width":"2","height":"1","format":"<i class=\"fa fa-compress fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":592,"y":510,"wires":[[]]},{"id":"483a4679.dd41e","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":140,"wires":[]},{"id":"74adfc01.aa54b4","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":240,"wires":[]},{"id":"a7440351.33d55","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Trend_T","order":5,"width":"2","height":"1","format":"<i class=\"fa {{msg.icon}} fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930,"y":190,"wires":[["74adfc01.aa54b4"]]},{"id":"54820402.fca06c","type":"debug","z":"31b4f3bc.2d07f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":100,"wires":[]},{"id":"86e4103b.092418","type":"debug","z":"31b4f3bc.2d07f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":140,"wires":[]},{"id":"2fe83054.6cf82","type":"function","z":"31b4f3bc.2d07f4","name":"Icon_type","func":"if (msg.payload[0]>msg.payload[1]) {\n    msg.icon=\"fa-level-up\";\n} else if (msg.payload[0]==msg.payload[1]) {\n    msg.icon=\"fa-bars\";\n} else {\n    msg.icon=\"fa-level-down\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":240,"wires":[[]]},{"id":"4be2faf3.36855c","type":"join","z":"31b4f3bc.2d07f4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":500,"y":240,"wires":[["2fe83054.6cf82"]]},{"id":"95c375ec.badf5","type":"smooth","z":"31b4f3bc.2d07f4","name":"Mean-60val","property":"payload","action":"mean","count":"60","round":"2","mult":"single","reduce":false,"x":330,"y":220,"wires":[["4be2faf3.36855c","54820402.fca06c"]]},{"id":"bff8acc2.93c33","type":"smooth","z":"31b4f3bc.2d07f4","name":"Mean-1440val","property":"payload","action":"mean","count":"1440","round":"2","mult":"single","reduce":false,"x":340,"y":260,"wires":[["4be2faf3.36855c","86e4103b.092418"]]},{"id":"55d77a4c.66030c","type":"subflow:31b4f3bc.2d07f4","z":"e1e17bad.811fa8","name":"","x":750,"y":190,"wires":[["a7440351.33d55"]]},{"id":"f11cf647.a9a3f8","type":"subflow:31b4f3bc.2d07f4","z":"e1e17bad.811fa8","name":"","x":750,"y":410,"wires":[["27bc1c63.fa5f44"]]},{"id":"27bc1c63.fa5f44","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Trend_H","order":9,"width":"2","height":"1","format":"<i class=\"fa {{msg.icon}} fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930,"y":410,"wires":[["62753ba2.fd970c"]]},{"id":"62753ba2.fd970c","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":460,"wires":[]},{"id":"96265e69.cd76a","type":"subflow:31b4f3bc.2d07f4","z":"e1e17bad.811fa8","name":"","x":720,"y":600,"wires":[["e340f9b.7e29208"]]},{"id":"e340f9b.7e29208","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Trend_P","order":13,"width":"2","height":"1","format":"<i class=\"fa {{msg.icon}} fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":900,"y":600,"wires":[["bc735352.3741f8"]]},{"id":"bc735352.3741f8","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":650,"wires":[]},{"id":"22c58737.3cc848","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Trend_PM_2_5","order":17,"width":"2","height":"1","format":"<i class=\"fa {{msg.icon}} fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":940,"y":810,"wires":[["613345d2.d681cc"]]},{"id":"613345d2.d681cc","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":860,"wires":[]},{"id":"6af6624a.07698c","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Trend_PM_10","order":21,"width":"2","height":"1","format":"<i class=\"fa {{msg.icon}} fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":940,"y":1050,"wires":[["805f0deb.748ea8"]]},{"id":"805f0deb.748ea8","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":1100,"wires":[]},{"id":"ca7897cf.e8dc88","type":"subflow:31b4f3bc.2d07f4","z":"e1e17bad.811fa8","name":"","x":740,"y":810,"wires":[["22c58737.3cc848"]]},{"id":"6557b656.23551","type":"subflow:31b4f3bc.2d07f4","z":"e1e17bad.811fa8","name":"","x":740,"y":1050,"wires":[["6af6624a.07698c"]]},{"id":"ec80cb.a4952738","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Link_rmap","order":1,"width":"9","height":"1","format":"<div>Grafici sul sito <a href=\"https://rmap.cc/stations/dancast78/\">Rmap</a></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":190,"y":1120,"wires":[[]]},{"id":"d9556f1c.a4a4d8","type":"mqtt in","z":"e1e17bad.811fa8","name":"dati","topic":"sample/dancast78/1137634,4449217/#","qos":"0","datatype":"auto","broker":"f3c150e9.f70bb8","x":140,"y":70,"wires":[["8b58dfdf.ae6428"]]},{"id":"a8679dcc.d12ab8","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":320,"wires":[]},{"id":"3fab07b9.941c8","type":"json","z":"e1e17bad.811fa8","name":"","property":"payload","action":"","pretty":true,"x":382,"y":380,"wires":[["a8679dcc.d12ab8","2e953af9.824bee"]]},{"id":"2e953af9.824bee","type":"function","z":"e1e17bad.811fa8","name":"value","func":"msg.payload=msg.payload.v;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":380,"wires":[["fd054351.51be6","f11cf647.a9a3f8"]]},{"id":"de3b5303.d2cfe","type":"function","z":"e1e17bad.811fa8","name":"value","func":"msg.payload=(msg.payload.v-27315)/100;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":160,"wires":[["c5fc6f15.9b4c1","55d77a4c.66030c"]]},{"id":"7adc7458.46016c","type":"json","z":"e1e17bad.811fa8","name":"","property":"payload","action":"","pretty":true,"x":390,"y":160,"wires":[["de3b5303.d2cfe"]]},{"id":"1eb0fb9d.34f2d4","type":"json","z":"e1e17bad.811fa8","name":"","property":"payload","action":"","pretty":true,"x":390,"y":780,"wires":[["6a28dafe.c2120c"]]},{"id":"1aa5f4b0.8e948b","type":"function","z":"e1e17bad.811fa8","name":"value","func":"msg.payload=msg.payload.v/10;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":570,"wires":[["f867840a.6090c8","96265e69.cd76a"]]},{"id":"9f8dfaff.d41f68","type":"json","z":"e1e17bad.811fa8","name":"","property":"payload","action":"","pretty":true,"x":390,"y":570,"wires":[["1aa5f4b0.8e948b"]]},{"id":"6a28dafe.c2120c","type":"function","z":"e1e17bad.811fa8","name":"value","func":"msg.payload=msg.payload.v/10;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":780,"wires":[["270bcc25.085f54","ca7897cf.e8dc88"]]},{"id":"49865a96.29e774","type":"json","z":"e1e17bad.811fa8","name":"","property":"payload","action":"","pretty":true,"x":390,"y":1030,"wires":[["61078108.3d4c6"]]},{"id":"61078108.3d4c6","type":"function","z":"e1e17bad.811fa8","name":"value","func":"msg.payload=msg.payload.v/10;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1030,"wires":[["756f6e77.c5ed8","6557b656.23551"]]},{"id":"8b58dfdf.ae6428","type":"switch","z":"e1e17bad.811fa8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":".*B12101$","vt":"str","case":false},{"t":"regex","v":".*B13003$","vt":"str","case":false},{"t":"regex","v":".*B10004$","vt":"str","case":false},{"t":"regex","v":".*B15195$","vt":"str","case":false},{"t":"regex","v":".*B15198$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":5,"x":182,"y":420,"wires":[["7adc7458.46016c"],["3fab07b9.941c8"],["9f8dfaff.d41f68"],["1eb0fb9d.34f2d4"],["49865a96.29e774"]],"inputLabels":["rmap"],"outputLabels":["temperatura","umidità","pressione","pm 2.5","pm 10"]},{"id":"32f55d02.7d633a","type":"comment","z":"e1e17bad.811fa8","name":"Info","info":"Visualizza dati e tendenze della stazione meteo rmap su dashboard","x":1190,"y":70,"wires":[]}]