flow.json
[{"id":"102646aa.98f061","type":"tab","label":"Network status","disabled":false,"info":""},{"id":"a284a9fa.5b238","type":"tab","label":"Icons","disabled":false,"info":"Semplici icone font awesome usate in combinazione usabili come indicatori sulla dashboard.\n\nI colori possono essere ricavati dai settaggi della dashboard, in questo modo rimangono coerenti anche cambiando il tema dei colori."},{"id":"e1e17bad.811fa8","type":"tab","label":"Meteo","disabled":false,"info":""},{"id":"31b4f3bc.2d07f4","type":"subflow","name":"Detect_trend","info":"","category":"","in":[{"x":210,"y":240,"wires":[{"id":"95c375ec.badf5"},{"id":"bff8acc2.93c33"}]}],"out":[{"x":740,"y":240,"wires":[{"id":"2fe83054.6cf82","port":0}]}],"env":[]},{"id":"c80d59c7.2d5888","type":"ui_group","z":"","name":"Icons","tab":"b28e9e57.8b6ae8","disp":true,"width":"23","collapse":true},{"id":"b28e9e57.8b6ae8","type":"ui_tab","z":"","name":"Icons","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5a01dac2.4b2094","type":"ui_group","z":"","name":"Network","tab":"4cea6575.58e774","order":1,"disp":true,"width":"6","collapse":false},{"id":"4cea6575.58e774","type":"ui_tab","z":"","name":"Smart home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"86d0e661.92436","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"47c45754.4800c8","type":"ui_group","z":"","name":"Meteo","tab":"79bc8411.9749cc","order":3,"disp":true,"width":"9","collapse":false},{"id":"36f068fe.765518","type":"mqtt-broker","z":"","name":"rmap.cc","broker":"rmap.cc","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"79bc8411.9749cc","type":"ui_tab","z":"","name":"Smart home","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"8a68823f.c5a71","type":"ui_template","z":"a284a9fa.5b238","group":"c80d59c7.2d5888","name":"","order":0,"width":0,"height":0,"format":"<div class=\"fa fa-television fa-4x\" aria-hidden=\"true\" style=\"color:var(--nr-dashboard-pageTitlebarBackgroundColor);\"></div>\n<div class=\"fa fa-television fa-4x\" aria-hidden=\"true\" style=\"color:var(--nr-dashboard-pageTitlebarBackgroundColor);filter: invert(50%);\"></div>\n\n<span class=\"fa-stack fa-2x\" style=\"color:green;\">\n  <i class=\"fa fa-circle-o-notch fa-spin fa-stack-1x\"></i>\n  <i class=\"fa fa-television fa-stack-2x\"></i>\n</span>\n\n<span class=\"fa-stack fa-2x\" style=\"color:grey;\">\n  <i class=\"fa fa-power-off fa-stack-1x\"></i>\n  <i class=\"fa fa-television fa-stack-2x\"></i>\n</span>\n  \n<span class=\"fa-stack fa-2x\" style=\"color:red;\">\n  <i class=\"fa fa-wrench fa-stack-1x\"></i>\n  <i class=\"fa fa-television fa-stack-2x\"></i>\n</span>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":190,"y":100,"wires":[[]]},{"id":"11c8da5d.cc4526","type":"ui_template","z":"102646aa.98f061","group":"5a01dac2.4b2094","name":"Internet connection","order":1,"width":"6","height":"1","format":"<i class=\"{{msg.icon}}\" style=\"color:{{msg.color}}\" aria-hidden=\"true\"> {{msg.payload}}</i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":550,"y":240,"wires":[[]]},{"id":"99932cfa.5e4e9","type":"function","z":"102646aa.98f061","name":"","func":"if (msg.payload===false) {\n    msg.icon=\"fa fa-exclamation-triangle fa-2x\";\n    msg.color=\"#ad1625\";\n    msg.payload=\"Internet KO\";\n} else {\n    msg.icon=\"fa fa-tachometer fa-2x\";  \n    msg.color=\"var(--nr-dashboard-pageTitlebarBackgroundColor);\"; //Color code from dashboard titlebar\n    msg.payload=\"Internet OK\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["11c8da5d.cc4526"]]},{"id":"b4bc976c.f655e8","type":"ui_template","z":"102646aa.98f061","group":"5a01dac2.4b2094","name":"Lan connection","order":1,"width":"6","height":"1","format":"<i class=\"{{msg.icon}}\" style=\"color:{{msg.color}}\" aria-hidden=\"true\"> {{msg.payload}}</i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":280,"wires":[[]]},{"id":"7d3caf64.7e251","type":"function","z":"102646aa.98f061","name":"","func":"if (msg.payload===false) {\n    msg.icon=\"fa fa-exclamation-triangle fa-2x\";\n    msg.color=\"#ad1625\";\n    msg.payload=\"Lan KO\";\n} else {\n    msg.icon=\"fa fa-tachometer fa-2x\";  \n    msg.color=\"var(--nr-dashboard-pageTitlebarBackgroundColor);\"; //Color code from dashboard titlebar\n    msg.payload=\"Lan OK\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["b4bc976c.f655e8"]]},{"id":"d127b038.040fa","type":"ping","z":"102646aa.98f061","name":"","host":"google.com","timer":"20","x":250,"y":240,"wires":[["99932cfa.5e4e9"]]},{"id":"dc08a72.5ed7758","type":"ping","z":"102646aa.98f061","name":"","host":"router.lan","timer":"20","x":240,"y":280,"wires":[["7d3caf64.7e251"]]},{"id":"99b6211a.21a1e","type":"comment","z":"102646aa.98f061","name":"Info","info":"Modificare gli indirizzi come desiderato per testare la raggiungibilità di router e internet.","x":230,"y":160,"wires":[]},{"id":"c5fc6f15.9b4c1","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Dato_T","order":2,"width":"3","height":"1","format":"<i class=\"fa-2x\" style=\"text-align: center;color:var(--nr-dashboard-pageTitlebarColor);\" aria-hidden=\"true\"> {{msg.payload}} </i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":140,"wires":[["483a4679.dd41e"]]},{"id":"d9aa5acb.fc3558","type":"mqtt in","z":"e1e17bad.811fa8","name":"umidità","topic":"rmap/dancast78/1137634,4449217/rmap/254,0,0/103,2000,-,-/B13003","qos":"2","datatype":"auto","broker":"36f068fe.765518","x":180,"y":370,"wires":[["d2564a11.316c28","bdb0d2e1.995fe"]]},{"id":"e6dd4bf5.300318","type":"mqtt in","z":"e1e17bad.811fa8","name":"temperatura","topic":"rmap/dancast78/1137634,4449217/rmap/254,0,0/103,2000,-,-/B12101","qos":"2","datatype":"auto","broker":"36f068fe.765518","x":174,"y":140,"wires":[["f56c876.9177b78"]]},{"id":"b4131717.142038","type":"mqtt in","z":"e1e17bad.811fa8","name":"polveri","topic":"rmap/dancast78/1137634,4449217/rmap/254,0,0/103,2000,-,-/B15198","qos":"2","datatype":"auto","broker":"36f068fe.765518","x":180,"y":770,"wires":[["ca264e7a.211e9"]]},{"id":"53dd4b0.e2042b4","type":"mqtt in","z":"e1e17bad.811fa8","name":"polveri","topic":"rmap/dancast78/1137634,4449217/rmap/254,0,0/103,2000,-,-/B15195","qos":"2","broker":"36f068fe.765518","x":180,"y":1000,"wires":[["49bb192c.3388c8"]]},{"id":"dfea12dd.a929d","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":310,"wires":[]},{"id":"d2564a11.316c28","type":"json","z":"e1e17bad.811fa8","name":"","property":"payload","action":"","pretty":true,"x":380,"y":370,"wires":[["dfea12dd.a929d","1f4d7626.c3028a"]]},{"id":"1f4d7626.c3028a","type":"function","z":"e1e17bad.811fa8","name":"value","func":"msg.payload=msg.payload.v;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":370,"wires":[["cc03eade.303aa8","fd054351.51be6","f11cf647.a9a3f8"]]},{"id":"bdb0d2e1.995fe","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":310,"wires":[]},{"id":"cc03eade.303aa8","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":310,"wires":[]},{"id":"f9855f10.733a2","type":"function","z":"e1e17bad.811fa8","name":"value","func":"msg.payload=(msg.payload.v-27315)/100;\nreturn msg;","outputs":1,"noerr":0,"x":534,"y":140,"wires":[["c5fc6f15.9b4c1","55d77a4c.66030c"]]},{"id":"f56c876.9177b78","type":"json","z":"e1e17bad.811fa8","name":"","property":"payload","action":"","pretty":true,"x":394,"y":140,"wires":[["f9855f10.733a2"]]},{"id":"ca264e7a.211e9","type":"json","z":"e1e17bad.811fa8","name":"","property":"payload","action":"","pretty":true,"x":380,"y":770,"wires":[["601de416.2092fc"]]},{"id":"2e3c09d7.6b9e96","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":730,"wires":[]},{"id":"27f91cd.c8c92e4","type":"mqtt in","z":"e1e17bad.811fa8","name":"pressione","topic":"rmap/dancast78/1137634,4449217/rmap/254,0,0/103,2000,-,-/B10004","qos":"2","broker":"36f068fe.765518","x":172,"y":550,"wires":[["bc1832d1.88ccd"]]},{"id":"d6c5bbf5.35a5d8","type":"function","z":"e1e17bad.811fa8","name":"value","func":"msg.payload=msg.payload.v/10;\nreturn msg;","outputs":1,"noerr":0,"x":502,"y":550,"wires":[["f867840a.6090c8","96265e69.cd76a"]]},{"id":"bc1832d1.88ccd","type":"json","z":"e1e17bad.811fa8","name":"","property":"payload","action":"","pretty":true,"x":362,"y":550,"wires":[["d6c5bbf5.35a5d8"]]},{"id":"601de416.2092fc","type":"function","z":"e1e17bad.811fa8","name":"value","func":"msg.payload=msg.payload.v/10;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":770,"wires":[["2e3c09d7.6b9e96","270bcc25.085f54","ca7897cf.e8dc88"]]},{"id":"49bb192c.3388c8","type":"json","z":"e1e17bad.811fa8","name":"","property":"payload","action":"","pretty":true,"x":380,"y":1000,"wires":[["7aa28ca6.8e2824"]]},{"id":"7aa28ca6.8e2824","type":"function","z":"e1e17bad.811fa8","name":"value","func":"msg.payload=msg.payload.v/10;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1000,"wires":[["756f6e77.c5ed8","6557b656.23551"]]},{"id":"43d69ee2.5a4f5","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Termometro","order":1,"width":"2","height":"1","format":"<i class=\"fa fa-thermometer-three-quarters fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":610,"y":80,"wires":[[]]},{"id":"deed11cf.53513","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"C","order":3,"width":"2","height":"1","format":"<i class=\"fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\">°C</i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":850,"y":80,"wires":[[]]},{"id":"33290f5c.f274a","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Goccia","order":5,"width":"2","height":"1","format":"<i class=\"fa fa-tint fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":602,"y":270,"wires":[[]]},{"id":"668b0717.3853c8","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"%","order":7,"width":"2","height":"1","format":"<i class=\"fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\">%</i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":852,"y":270,"wires":[[]]},{"id":"fd054351.51be6","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Dato_H","order":6,"width":"3","height":"1","format":"<i class=\"fa-2x\" style=\"text-align: center;color:var(--nr-dashboard-pageTitlebarColor);\" aria-hidden=\"true\"> {{msg.payload}} </i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":742,"y":370,"wires":[[]]},{"id":"dffac089.0997a","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Polveri_2.5","order":13,"width":"2","height":"1","format":"<i class=\"fa fa-hourglass-end fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":710,"wires":[[]]},{"id":"22b14601.7af7da","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"hPa","order":11,"width":"2","height":"1","format":"<i class=\"fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\">hPa</i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":842,"y":510,"wires":[[]]},{"id":"f867840a.6090c8","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Dato_P","order":10,"width":"3","height":"1","format":"<i class=\"fa-2x\" style=\"text-align: center;color:var(--nr-dashboard-pageTitlebarColor);\" aria-hidden=\"true\"> {{msg.payload}} </i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":712,"y":550,"wires":[[]]},{"id":"9beda082.da321","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Polveri_10","order":17,"width":"2","height":"1","format":"<i class=\"fa fa-hourglass fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":940,"wires":[[]]},{"id":"5ce5487f.81d4d8","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"ug/m*3","order":15,"width":"2","height":"1","format":"<i class=\"fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\">ug/m3</i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":830,"y":710,"wires":[[]]},{"id":"69f92b5e.794734","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"ug/m*3","order":19,"width":"2","height":"1","format":"<i class=\"fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\">ug/m3</i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":830,"y":940,"wires":[[]]},{"id":"270bcc25.085f54","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Dato_PM_2.5","order":14,"width":"3","height":"1","format":"<i class=\"fa-2x\" style=\"text-align: center;color:var(--nr-dashboard-pageTitlebarColor);\" aria-hidden=\"true\"> {{msg.payload}} </i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":770,"wires":[[]]},{"id":"756f6e77.c5ed8","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Dato_PM_10","order":18,"width":"3","height":"1","format":"<i class=\"fa-2x\" style=\"text-align: center;color:var(--nr-dashboard-pageTitlebarColor);\" aria-hidden=\"true\"> {{msg.payload}} </i>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":1000,"wires":[[]]},{"id":"7cdaa25d.ff779c","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Pressione","order":9,"width":"2","height":"1","format":"<i class=\"fa fa-compress fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":592,"y":510,"wires":[[]]},{"id":"483a4679.dd41e","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":140,"wires":[]},{"id":"74adfc01.aa54b4","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":240,"wires":[]},{"id":"a7440351.33d55","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Trend_T","order":4,"width":"2","height":"1","format":"<i class=\"fa {{msg.icon}} fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930,"y":190,"wires":[["74adfc01.aa54b4"]]},{"id":"54820402.fca06c","type":"debug","z":"31b4f3bc.2d07f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":100,"wires":[]},{"id":"86e4103b.092418","type":"debug","z":"31b4f3bc.2d07f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":140,"wires":[]},{"id":"2fe83054.6cf82","type":"function","z":"31b4f3bc.2d07f4","name":"Icon_type","func":"if (msg.payload[0]>msg.payload[1]) {\n    msg.icon=\"fa-level-up\";\n} else if (msg.payload[0]==msg.payload[1]) {\n    msg.icon=\"fa-bars\";\n} else {\n    msg.icon=\"fa-level-down\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":240,"wires":[[]]},{"id":"4be2faf3.36855c","type":"join","z":"31b4f3bc.2d07f4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":500,"y":240,"wires":[["2fe83054.6cf82"]]},{"id":"95c375ec.badf5","type":"smooth","z":"31b4f3bc.2d07f4","name":"Mean-60val","property":"payload","action":"mean","count":"60","round":"2","mult":"single","reduce":false,"x":330,"y":220,"wires":[["4be2faf3.36855c","54820402.fca06c"]]},{"id":"bff8acc2.93c33","type":"smooth","z":"31b4f3bc.2d07f4","name":"Mean-1440val","property":"payload","action":"mean","count":"1440","round":"2","mult":"single","reduce":false,"x":340,"y":260,"wires":[["4be2faf3.36855c","86e4103b.092418"]]},{"id":"55d77a4c.66030c","type":"subflow:31b4f3bc.2d07f4","z":"e1e17bad.811fa8","name":"","x":750,"y":190,"wires":[["a7440351.33d55"]]},{"id":"f11cf647.a9a3f8","type":"subflow:31b4f3bc.2d07f4","z":"e1e17bad.811fa8","name":"","x":750,"y":410,"wires":[["27bc1c63.fa5f44"]]},{"id":"27bc1c63.fa5f44","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Trend_H","order":8,"width":"2","height":"1","format":"<i class=\"fa {{msg.icon}} fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930,"y":410,"wires":[["62753ba2.fd970c"]]},{"id":"62753ba2.fd970c","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":460,"wires":[]},{"id":"96265e69.cd76a","type":"subflow:31b4f3bc.2d07f4","z":"e1e17bad.811fa8","name":"","x":720,"y":600,"wires":[["e340f9b.7e29208"]]},{"id":"e340f9b.7e29208","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Trend_P","order":12,"width":"2","height":"1","format":"<i class=\"fa {{msg.icon}} fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":900,"y":600,"wires":[["bc735352.3741f8"]]},{"id":"bc735352.3741f8","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":650,"wires":[]},{"id":"22c58737.3cc848","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Trend_PM_2_5","order":16,"width":"2","height":"1","format":"<i class=\"fa {{msg.icon}} fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":940,"y":810,"wires":[["613345d2.d681cc"]]},{"id":"613345d2.d681cc","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":860,"wires":[]},{"id":"6af6624a.07698c","type":"ui_template","z":"e1e17bad.811fa8","group":"47c45754.4800c8","name":"Trend_PM_10","order":20,"width":"2","height":"1","format":"<i class=\"fa {{msg.icon}} fa-2x\" style=\"width: 48px;text-align: center;color:var(--nr-dashboard-pageTitlebarBackgroundColor);\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":940,"y":1050,"wires":[["805f0deb.748ea8"]]},{"id":"805f0deb.748ea8","type":"debug","z":"e1e17bad.811fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":1100,"wires":[]},{"id":"ca7897cf.e8dc88","type":"subflow:31b4f3bc.2d07f4","z":"e1e17bad.811fa8","name":"","x":740,"y":810,"wires":[["22c58737.3cc848"]]},{"id":"6557b656.23551","type":"subflow:31b4f3bc.2d07f4","z":"e1e17bad.811fa8","name":"","x":740,"y":1050,"wires":[["6af6624a.07698c"]]}]